body{
	background-color: white;
}

nav {width:100%;
	background-color: black;
	color:white;
	text-align: center;
	}
ul {
	list-style: none;
}
a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
